* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: Open Sans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans Bold;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff
);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", "Arial", "san-serif";
  display: flex;
  flex-direction: column;  
}

.header {
  width: 100%;
  position: relative;
  color: #ffffff;
  
  margin-left: auto;
  margin-right: auto;
  
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(9, 12, 53);
  background-size: cover;
}

.header::after {
    content: "";
    background-color: rgba(9, 12, 53,0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-container {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10.3% 6.25% 25.6% 6.25%;
  box-sizing: border-box;
}

.surface-logo {  
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  fill: #fff;
}

.title-header-container {
  text-transform: uppercase;
  font-family: Open Sans Bold, arial, sans-serif;
  font-size: 2.8rem;
  margin-top: 42%;
}

.title-header-one {
  line-height: 31px;  
}

.title-header-two {
  margin-top: 30px;
  margin-left: 14%;
}

.store-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 27.5%;
  
  fill: #fff;
}

.store-button {
  margin-bottom: 5%;
  font-family: Open Sans, arial, sans-serif;
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none; 
  background-color: rgb(94, 66, 176);
  border-radius: 40px;
}

.store-button:last-child {
  margin-bottom: 0;
}

.store-discription {
  width: 80%;
  padding: 2% 0;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  flex-grow: 0;
  align-content: center;
  align-items: center;
}

.store-icon {
  margin-right: 2%;
  width: 16px;
  height: 16px;
}

.download-source {
  display: block;
  font-family: "Open Sans Bold", "Arial", "san-serif";
}




@media (max-width: 640px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  }
}



@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1280.jpg");
  }
  
 .header-container {
  padding: 5.2% 10% 11.6% 10%;

  }
  
  .title-header-container {
    font-size: 6.4rem;
  }
  
  .store-buttons {   
    flex-direction: row;
    justify-content: space-between;
  }
  
  .store-button {
    width: 46%;
    margin: 0;
    font-size: 1.4rem;
  }
  
  .store-discription {
    padding: 3%;
    margin-left: auto;
    margin-right: auto
  }
  
  .store-icon {
    width: 42px;
    height: 42px;
  }
}

    
    
@media (min-width: 961px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg");
  }
  
  .header-container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 2.5% 9.3% 5.5% 9.3%;
  }
  
  .surface-logo {  
    width: 12.5%;
  }
  
  .title-header-container {
    margin-top: 18.7%;
    font-size: 9rem;
  }
  
  .title-header-one {
    line-height: 31px;
  }
  
  .title-header-two {
    line-height: 100px;
  }
  
   .store-buttons {
    margin-top: 14.5%;
    flex-direction: row;
    justify-content: space-between;
  }
  
   .store-button {
    width: 46%;
    margin: 0;
    font-size: 1.4rem;
  }
  
  .store-discription {
    padding: 3%;
  
  }
  
  .store-icon {
    margin-right: 5%;
    width: 42px;
    height: 42px;
  } 
}