* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@font-face { 
  font-family: Open Sans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans Bold;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff
);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", "Arial", "san-serif";
  display: flex;
  flex-direction: column;  
}

.header {
  width: 100%;
  position: relative;
  color: #ffffff;
  
  margin-left: auto;
  margin-right: auto;
  
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(9, 12, 53);
  background-size: cover;
}

.header::after {
    content: "";
    background-color: rgba(9, 12, 53,0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-container {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10.3% 6.25% 25.6% 6.25%;
  box-sizing: border-box;
}

.surface-logo {  
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  fill: #fff;
}

.title-header-container {
  text-transform: uppercase;
  font-family: Open Sans Bold, arial, sans-serif;
  font-size: 2.8rem;
  margin-top: 42%;
}

.title-header-one {
  line-height: 31px;  
}

.title-header-two {
  margin-top: 30px;
  margin-left: 14%;
}

.store-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 27.5%;
  
  fill: #fff;
}

.store-button {
  margin-bottom: 5%;
  font-family: Open Sans, arial, sans-serif;
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none; 
  background-color: rgb(94, 66, 176);
  border-radius: 40px;
}

.store-button:last-child {
  margin-bottom: 0;
}

.store-discription {
  width: 80%;
  padding: 2% 0;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  flex-grow: 0;
  align-content: center;
  align-items: center;
}

.store-icon {
  margin-right: 2%;
  width: 16px;
  height: 16px;
}

.download-source {
  display: block;
  font-family: "Open Sans Bold", "Arial", "san-serif";
}

.athlets {
  width: 100%;
}

.section-athlets {
  position: relative;
  padding-top: 7.5%;
}


.header-athlets {
  margin-left: 6.25%;
  font-family: "Open Sans Bold", "Arial", "san-serif";
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 5rem;
}

.athlets-list {  
  display: flex;
  flex-direction: column;
  margin-top: 76.25%;
}


.athlets-article {
  padding: 25% 6.25% 15% 6.25%;
  background-color: : #fff;
}



.athlets-article:nth-child(n+1) {
  background-color: #fafafa;
}

.athlets-article:nth-child(n+2) {
  padding-top: 18.75%;
  background-color: #f5f4f9;
}

.athlets-article:nth-child(n+3) {
  background-color: #5e42b0;
  color: #ffffff;
}


.athlets-list-header {
  font-family: "Open Sans Bold", "Arial", "san-serif";
  display: flex;
  align-items: center;
  color: #000;
}


.number-title {
  font-size: 1.4rem;
}

.number-title::after {
  content: "";
  display: block;
  width: 14px;
  border-bottom: 4px solid #5e42b0;
}


.athlets-growth-number::after{
  content: "";
  display: block;
  width: 14px;
  border-bottom: 4px solid #ffffff;
}


.title-discription {
  font-size: 2.3rem;
  line-height: 1.7rem;
  color: #c1c1c1;
  text-transform: uppercase;
  margin-left: 3%;
}

.description-athlets-list {
  margin-top: 10%;
  font-size: 1.5rem;
}

.players {
  width: 100%;
}

.section-players {
  position: relative;
  padding-top: 7.5%;
}

.header-players {
  margin-left: 6.25%;
  font-family: "Open Sans Bold", "Arial", "san-serif";
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 5rem;
}

.players-list {  
  display: flex;
  flex-direction: column;
  margin-top: 76.25%;
}

.players-article {
  padding: 25% 6.25% 15% 6.25%;
  background-color: : #fff;
}

.players-article:nth-child(n+1) {
  background-color: #fafafa;
}

.players-article:nth-child(n+2) {
  padding-top: 18.75%;
  background-color: #f5f4f9;
}

.players-article:nth-child(n+3) {
  background-color: #090c35;
  color: #fff;
}

.players-list-header {
  font-family: "Open Sans Bold", "Arial", "san-serif";
  display: flex;
  align-items: center;
}

.players-growth-number {
  color: #8765dd;
}

.players-growth-number::after{
  content: "";
  display: block;
  width: 14px;
  border-bottom: 4px solid #ffffff;
}

.description-players-list {
  margin-top: 10%;
  font-size: 1.5rem;
}




@media (max-width: 640px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  }
  
 .footballer-picture-container {
    width: 100%;
    height: 100%;
    background-image: url("https://raw.githubusercontent.com/dmitry-korotkov/ubiquitous-fiesta/master/img/footballer_192.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: 58% 27%;
    background-position: center 10%; 
  }
  
  .basketball-picture-container {
    width: 100%;
    height: 100%;
    background-image: url("https://raw.githubusercontent.com/dmitry-korotkov/ubiquitous-fiesta/master/img/basketballer_302.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: 90% 27%;
    background-position: center 10%;
  }


}


@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1280.jpg");
  }
  
 .header-container {
  padding: 5.2% 10% 11.6% 10%;

  }
  
  .title-header-container {
    font-size: 6.4rem;
  }
  
  .store-buttons {   
    flex-direction: row;
    justify-content: space-between;
  }
  
  .store-button {
    width: 46%;
    margin: 0;
    font-size: 1.4rem;
  }
  
  .store-discription {
    padding: 3%;
    margin-left: auto;
    margin-right: auto
  }
  
  .store-icon {
    width: 42px;
    height: 42px;
  }
  
  .footballer-picture-container {
  width: 45%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/dmitry-korotkov/ubiquitous-fiesta/master/img/footballer_497.png");
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
}
  
  .section-athlets {
    padding-top: 11.2%;
  }
  
  .header-athlets {
    margin-left: 38%;
    font-size: 8rem;
  }
  
  .athlets-list {
    margin-top: 2.5%;
  }
  
  
  .athlets-article {
    padding: 5.6% 4.2% 4% 38%;
  }
  
  .athlets-article:nth-child(n+1) {
    background-color: #fff;
  }
  
  .athlets-article:nth-child(n+2) {
    padding-top: 5.6%;
    background-color: #f5f4f9;
  }
  
  .athlets-article:nth-child(n+3) {
    background-color: #5e42b0;
  }
  
  .number-title {
    font-size: 1.8rem;
  }
  
  .number-title::after {
    content: "";
    display: block;
    width: 18px;
    border-bottom: 4px solid #5e42b0;
  }
  
  .athlets-growth-number::after{
  content: "";
  display: block;
  width: 18px;
  border-bottom: 4px solid #ffffff;
  }
  
  .title-discription {
    font-size: 3.2rem;
  }
  
  .description-athlets-list {
    margin-top: 4.3%;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  
  .section-players {
    padding-top: 3%
  }
  
  .basketball-picture-container {
    width: 100%;
    height: 100%;
    background-image: url("https://raw.githubusercontent.com/dmitry-korotkov/ubiquitous-fiesta/master/img/basketballer_436.png");
    position: absolute;
    background-repeat: no-repeat;
    background-position: right 0%;
    background-size: 55% 78%;
  }
  
  .header-players {
    margin-top: 8.2%;
    margin-left: 4.2%;
    font-size: 8rem;
  }
  
  .players-list {
    margin-top: 2.5%;
  }
  
  .players-article {
    padding: 5.6% 50% 4% 4.2%;
  }
  
  .players-article:nth-child(n+1) {
    background-color: #fff;
  }
  
  .players-article:nth-child(n+2) {
    padding-top: 5.6%;
    background-color: #f5f4f9;
  }
  
  .players-article:nth-child(n+3) {
    background-color: #090c35;
  }
  
  .players-growth-number::after{
    content: "";
    display: block;
    width: 18px;
    border-bottom: 4px solid #ffffff;
  }
  
  .description-players-list {
    margin-top: 4.3%;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  
  
}

    
    
@media (min-width: 961px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg");
  }
  
  .header-container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 2.5% 9.3% 5.5% 9.3%;
  }
  
  .surface-logo {  
    width: 12.5%;
  }
  
  .title-header-container {
    margin-top: 18.7%;
    font-size: 9rem;
  }
  
  .title-header-one {
    line-height: 31px;
  }
  
  .title-header-two {
    line-height: 100px;
  }
  
   .store-buttons {
    margin-top: 14.5%;
    flex-direction: row;
    justify-content: space-between;
  }
  
   .store-button {
    width: 46%;
    margin: 0;
    font-size: 1.4rem;
  }
  
  .store-discription {
    padding: 3%;
  
  }
  
  .store-icon {
    margin-right: 5%;
    width: 42px;
    height: 42px;
  }
  
  .section-athlets {
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 2%;
  }
  
  .footballer-picture-container {
    width: 50%;
    height: 102%;
    background-image: url("https://raw.githubusercontent.com/dmitry-korotkov/ubiquitous-fiesta/master/img/footballer_566.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 50%;
  }
  
  .header-athlets {
    margin-top: 4%;
    margin-left: 52.6%;
    font-size: 8rem;
  }
  
  .athlets-list {
    margin-top: 2.6%;
  }
  
  
  .athlets-article {
    padding: 3.1% 10.1% 2.85% 52.6%;
  }
  
  .athlets-article:nth-child(n+1) {
    background-color: #fff;
  }
  
  .athlets-article:nth-child(n+2) {
    padding-top: 3.1%;
    background-color: #f5f4f9;
  }
  
  .athlets-article:nth-child(n+3) {
    background-color: #5e42b0;
  }
  
  .number-title {
    font-size: 1.8rem;
  }
  
  .number-title::after {
    content: "";
    display: block;
    width: 18px;
    border-bottom: 4px solid #5e42b0;
  }
    
  .athlets-growth-number::after{
  content: "";
  display: block;
  width: 18px;
  border-bottom: 4px solid #ffffff;
  }
  
  .title-discription {
    font-size: 3.6rem;
  }
  
  .description-athlets-list {
    margin-top: 3.2%;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  
  .section-players {
    padding-top: 2%;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .basketball-picture-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 56% 91%;
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-image: url("https://raw.githubusercontent.com/dmitry-korotkov/ubiquitous-fiesta/master/img/basketballer_991.png");
  }
  
   .header-players {
    margin-top: 4%;
    margin-left: 10.1%;
    font-size: 8rem;
    line-height: 8rem;
  }
  
  .players-list {
    margin-top: 2.6%;
  }  
  
  
   .players-article {
    padding: 3.1% 52.6% 2.85% 10.1%;
  }
  
  .players-article:nth-child(n+1) {
    background-color: #fff;
  }
  
  .players-article:nth-child(n+2) {
    padding-top: 3.1%;
    background-color: #f5f4f9;
  }
  
  .players-article:nth-child(n+3) {
    background-color: #090c35;
  }
    
  .players-growth-number::after{
  content: "";
  display: block;
  width: 18px;
  border-bottom: 4px solid #ffffff;
  }
  
  .description-players-list {
    margin-top: 3.2%;
    font-size: 2rem;
    line-height: 2.8rem;
  }
    
}
